@model IEnumerable<CastingProject.Models.Artist>

<div>
    <h3 class="uk-margin-top uk-margin-bottom">Related Models</h3>
    <div class="uk-child-width-expands@s uk-grid" uk-grid>
        <div class="uk-flex uk-flex-wrap">
            @foreach (var item in Model)
            {
                <div style="">
                    <div class="artist-card uk-margin-small-bottom uk-margin-small-right">
                        <div class="img-area uk-inline-clip uk-transition-toggle ">
                            <a asp-action="Details" asp-route-id="@item.Id">
                                @*<img src="@item.Dp" class="uk-transition-scale-up uk-transition-opaque" alt="Display Picture" />*@
                                <img src="@(CastingProject.Helper.ImageSize.Get(item.Dp, "fullscreen"))" class="uk-transition-scale-up uk-transition-opaque" alt="Display Picture" />
                            </a>

                            <div class="artist-name">
                                <a asp-action="Details" asp-route-id="@item.Id">
                                    <h3>@item.Name</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                </div>
            }
        </div>
    </div>

</div>