@model PaginatedList<CastingProject.Models.Artist>

@{
    //as IEnumerable<Artist>;
    ViewData["Title"] = "Index";
    //var artist = ViewBag.Artist;
    var ethnicities = ViewBag.Ethnicity as IEnumerable<Ethnicity>;

    var dd = ViewBag.Ethnicity;

    var gender = from EnumField.Gender d in Enum.GetValues(typeof(EnumField.Gender))
                 select new { ID = (int)d, Name = d.ToString() };

    var skinColor = from EnumField.SkinColor d in Enum.GetValues(typeof(EnumField.SkinColor))
                    select new { ID = (int)d, Name = d.ToString() };
}


<input type="hidden" id="details">
<div class="talent">
    <div class="uk-margin clear" style="margin:20px 0; display:flex; justify-content:end;">
        <form asp-action="Index" class="uk-search uk-search-default" method="get">
            <button type="submit" class="uk-search-icon-flip" uk-search-icon> </button>
            <input class="uk-search-input" type="text" value="@ViewData["CurrentFilter"]" name="searchText" placeholder="Search by Name">
        </form>
        @*<button onclick="ClearFilter()" class=" uk-button uk-button-default uk-button-small">Reset</button>*@

    </div>
    @*            <button onclick="ClearFilter()" class=" uk-button uk-button-default uk-button-small">Reset</button>
    *@
    <p style="font-size:1.8rem; font-weight:Bold;color:black; margin: 3% 0px 1% 0; ">Find Local Actors & Talent for Hire</p>
    <div class="filter" uk-accordion style="padding: 20px; padding-bottom:20px;">
        <div class="uk-open">
            <a class="uk-accordion-title" href="#">Filter Results</a>
            <div class="uk-accordion-content">
                <form id="filterform" class="clear" asp-action="Index" class="uk-grid-small" uk-grid method="get">
                    <div class="uk-width-1-2@s">
                        <label class="uk-form-label" for="form-stacked-text">Gender</label>
                        <select name="Gender" class="uk-input" asp-items="@(new SelectList(gender, "Name", "Name"))">
                            <option value="">--Select--</option>
                            @*<select asp-for="Gender" class="uk-input" asp-items="Html.GetEnumSelectList<>()">*@
                            @*<option value="0">Male</option>*@
                        </select>
                    </div>
                    <div class="uk-width-1-2@s">
                        <label class="uk-form-label" for="form-stacked-text">Ethnicity</label>
                        <select name="Ethnicity" name="ethnicity" class="uk-input" asp-items="@(new SelectList(ethnicities,"Name", "Name"))">
                            <option value="">--Select--</option>
                        </select>

                    </div>
                    <div class="uk-width-1-2@s">
                        <label class="uk-form-label" for="form-stacked-text">Skin Color</label>
                        <select name="Skin_Color" class="uk-input" asp-items="@(new SelectList(skinColor,"Name","Name"))">
                            <option value="">--Select--</option>

                        </select>
                        @*<select asp-for="Skin_Color" class="uk-input" asp-items="Html.GetEnumSelectList<EnumField.SkinColor>()"></select>*@
                    </div>
                    <div class="uk-width-1-2@s">
                        <label class="uk-form-label" for="form-stacked-text">Height</label>
                        <select name="Height" id="" class="uk-input">
                            <option value="">--Select--</option>
                            <option value="3-4">3-4</option>
                            <option value="4-5">4-5</option>
                            <option value="5-6">5-6</option>
                            <option value="6-7">6-7</option>
                            <option value="7-8">7-8</option>
                        </select>
                    </div>
                    <div class="uk-width-1-2@s" style=" margin-top:20px;">
                        <button class=" uk-button uk-button-default uk-button-small" id="filter-btn">Filter</button>
                        <button onclick="ClearFilter()" class=" uk-button uk-button-default uk-button-small">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <p style="font-size:1.8rem; font-weight:Bold;color:black; margin: 3% 0px 1% 0; ">Our Talents</p>

    <div class="uk-grid-column-small uk-grid-row-small uk-child-width-1-4 uk-text-center" uk-grid>
        @foreach (var item in Model)
        {
            <div class="uk-text-center">
                <div class="for-img uk-inline-clip uk-transition-toggle talent-image" tabindex="0">
                    <img src="~/@item.Dp" class="uk-transition-scale-up uk-transition-opaque" alt="">

                    <div class="link-tag uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-primary">
                        <div class="uk-overlay uk-position-bottom uk-light">
                            <a onclick="addPage(@item.Id)" id="showdetails" asp-action="Details" asp-route-id="@item.Id" class="uk-h4 uk-margin-remove">@item.Name</a>
                        </div>
                    </div>
                </div>
                <a onclick="Confirm()" asp-action="Delete" asp-controller="Artist" asp-route-id="@item.Id">
                    <i id="close" uk-icon="icon: close"></i>
                </a>
            </div>
        }
    </div>
</div>

<div class="float-btn">
    <a asp-action="Create" asp-controller="Artist" class="Create-btn">
        <i id="my-float" uk-icon="icon: plus"></i>
    </a>
</div>



@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
  
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>


<script>
    function Confirm() {
        confirm("Are you sure you want to delete this?");
    }
</script>


