@model PaginatedList<CastingProject.Models.Artist>

    @{
    ViewData["Title"] = "Index";
    var ethnicities = ViewBag.Ethnicity as IEnumerable<Ethnicity>;
    var gender = from EnumField.Gender d in Enum.GetValues(typeof(EnumField.Gender))
                 select new { ID = (int)d, Name = d.ToString() };
    var skinColor = from EnumField.SkinColor d in Enum.GetValues(typeof(EnumField.SkinColor))
                    select new { ID = (int)d, Name = d.ToString() };

    var filter = ViewBag.filter as CastingProject.Filter.GeneralFilter;
}

<input type="hidden" id="details">
<div class="uk-child-width-expand@s uk-margin-bottom artist-index" uk-grid>
    <div class="uk-width-1-4 sidebar">
        @*<p style="font-size:1.5rem; font-weight:Bold;color:black; margin: 6% 0px 6% 15%;">Find Local Artists</p>*@

        <form id="filterform" class="clear" asp-action="Index" method="get">
            <h5 style="margin: 42% -18px 2% 0%">Search By Name</h5>
            <div style="width:236px; display:flex; justify-content:space-around;">
                <input class="uk-input searchfield" type="text" value="@ViewData["CurrentFilter"]" name="searchText" placeholder="Artist Name">
            </div>
            @*<button type="submit" class="uk-search-icon-flip uk-margin-small-left" uk-search-icon> </button>*@

            <h5 style="margin:30px 0 11px 0;">Filters</h5>

            @await Component.InvokeAsync("Category",filter.Category)

            <div class="uk-child-width-expand@s uk-grid-collapse " uk-grid>
                <div class="labelname">
                    <label>Ethnicity</label>
                </div>
                <div class="selectlist">
                    <select name="ethnicity" asp-items="@(new SelectList(ethnicities,"Name", "Name", filter.Ethnicity))">
                        <option value="">Select</option>
                    </select>
                </div>
            </div>

            <div class="uk-child-width-expand@s uk-grid-collapse" uk-grid>
                <div class="labelname">
                    <label>Gender</label>
                </div>
                <div class="selectlist">
                    <select name="Gender" asp-items="@(new SelectList(gender, "Name", "Name",filter.Gender))">
                        <option value="">Select</option>
                    </select>
                </div>
            </div>
            <div class="uk-child-width-expand@s uk-grid-collapse" uk-grid>
                <div class="labelname">
                    <label>Skin Color</label>
                </div>
                <div class="selectlist">
                    <select name="SkinColor" asp-items="@(new SelectList(skinColor, "Name", "Name",filter.SkinColor))">
                        <option value="">Select</option>
                    </select>
                </div>
            </div>
            <div class="uk-child-width-expand@s uk-grid-collapse" uk-grid>
                <div class="labelname">
                    <label>Height</label>
                </div>
                <div class="selectlist">
                    <select name="Height" id="height">
                        <option value="">Select</option>
                        <option value="3-4"> 3-4</option>
                        <option value="4-5">4-5</option>
                        <option value="5-6">5-6</option>
                        <option value="6-7">6-7</option>
                        <option value="7-8">7-8</option>
                    </select>
                </div>
            </div>
            <div class="uk-child-width-expand@s uk-grid-collapse" uk-grid>
                <div class="labelname">
                    <label>Age</label>
                </div>
                <div class="selectlist">
                    <select name="Age" id="age">
                        <option value="">Select</option>
                        <option value="0-2">Baby</option>
                        <option value="3-12">Children</option>
                        <option value="13-19">Teenage</option>
                        <option value="20-30">Adults</option>
                        <option value="31-45">MiddleAge</option>
                        <option value="46-100">Senior</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-1@s" style=" margin-top:20px;">
                <button class=" uk-button uk-button-default uk-button-small" id="filter-btn">Filter</button>
                <button onclick="ClearFilter()" class=" uk-button uk-button-default uk-button-small">Reset</button>
            </div>
        </form>
    </div>


    <div>
        <p style="font-size:1.5rem; font-weight:Bold;color:black; margin: 2% 0px 1% 5%;">Find Local Actors & Models for Hire</p>
        @*<div class="uk-child-width-expand@s" uk-grid>
            <div class="uk-flex uk-flex-wrap uk-flex-center">
            @foreach (var item in Model)
            {
            <div class="wrapper">
            <div class="img-area">
            <div class="inner-area">
            <img src="~/@item.Dp" alt="Display Picture" />
            </div>
            </div>
            <div class="name">@item.Name</div>
            <div class="ethnicity">@item.Ethnicity.Name</div>
            <div class="buttons">
            <a asp-action="Details" asp-route-id="@item.Id">View</a>
            <a asp-action="send" asp-controller="Email" asp-route-id="@item.Id">Contact</a>
            </div>
            </div>
            }
            </div>
            </div>*@



        <div class="uk-child-width-expands@s" uk-grid>
            <div class="uk-flex uk-flex-wrap">
                @foreach (var item in Model)
                {
                    <div style="">
                        <div class="artist-card uk-margin-small-bottom uk-margin-small-right">
                            <div class="img-area uk-inline-clip uk-transition-toggle ">
                                <a asp-action="Details" asp-route-id="@item.Id">
                                    <img src="~/@item.Dp" class="uk-transition-scale-up uk-transition-opaque" alt="Display Picture" />
                                </a>

                                <div class="artist-name">
                                    <a asp-action="Details" asp-route-id="@item.Id">
                                        <h3>@item.Name</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                        @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                    </div>
                }
            </div>


            @*Previous and Next Button*@
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }
            <div>
                <a asp-action="Index"
                   asp-route-page="@(Model.PageIndex - 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   asp-route-Height="@ViewBag.Height"
                   asp-route-Gender="@ViewBag.Gender"
                   asp-route-SkinColor="@ViewBag.SkinColor">
                    <button class="uk-button uk-button-default" @prevDisabled>Previous</button>
                </a>
                <a asp-action="Index"
                   asp-route-page="@(Model.PageIndex + 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   asp-route-Height="@ViewBag.Height"
                   asp-route-Gender="@ViewBag.Gender"
                   asp-route-SkinColor="@ViewBag.SkinColor">
                    <button class="uk-button uk-button-default" @nextDisabled>Next</button>
                </a>
            </div>
        </div>
    </div>
</div>


<div class="float-btn">
    <a asp-action="Create" asp-controller="Artist" class="Create-btn">
        <i id="my-float" uk-icon="icon: plus"></i>
    </a>
</div>



@section Scripts
{

<script>
    function Confirm() {
        confirm("Are you sure you want to delete this?");
    }

    $(document).ready(function(){
        $('#height option[value="@filter.Height"]').prop('selected', true);
        $('#age option[value="@filter.Age"]').prop('selected',true);
    });
</script>

}

